body {
    margin: 0;
    padding: 0;
    background-image: url(../Clock/images/unirie1.jpg);
    background-size: 150%;
    background-position: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    
}

div {
    max-width: 340px;
    max-height: 400px;
    margin: 20px auto;
    margin-left: 15px;
    padding: 8px;
    background-color: rgba(4, 0, 88, 0.963);
    border-radius: 20px;
    display:inline-block;
     
}



#first,#second,#third,#fourth,
#firstB,#secondB,#thirdB,#fourthB,
#firstC,#secondC,#thirdC,#fourthC,
#firstD,#secondD,#thirdD,#fourthD{
    font-size: 1.1rem;
    width: 300px;
    height: 30px;
    text-align: left;
    margin: 12px;
    color: white;
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
    text-align: left;
    display: flex;
}


#first:hover,#second:hover,#third:hover,#fourth:hover,
#firstB:hover,#secondB:hover,#thirdB:hover, #fourthB:hover,
#firstC:hover,#secondC:hover,#thirdC:hover,#fourthC:hover,
#firstD:hover, #secondD:hover, #thirdD:hover,#fourthD:hover{
    background-color: rgb(167, 152, 238);
}


h1 {
    height: 50px;
    color: white;
    border-radius: 10px;
    max-width: auto;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(0, 0, 134);
    
}
H2{
    color: white;
    text-align: center;
    font-size: 20px;
}
h3{
    text-align: center;
    font-size: 20px;
    color: blue;
}



#gameAC1,#gameAC11, 
#gameAC2, #gameAC22,
#gameBD1, #gameBD11,
#gameBD2, #gameBD22 {
    font-size: 1.1rem;
    width: 300px;
    height: 30px;
    text-align: left;
    margin: 12px;
    color: black;
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
}





#gameAC1:hover,#gameAC11:hover, 
#gameAC2:hover, #gameAC22:hover,
#gameBD1:hover, #gameBD11:hover,
#gameBD2:hover, #gameBD22:hover{
    background-color: rgb(167, 152, 238);   
}



















#semi1, #semi11,
#semi2, #semi22{
    font-size: 1.1rem;
    width: 300px;
    height: 30px;
    text-align: left;
    margin: 12px;
    color: black;
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
}
#box2,#box3{
    max-width: 900px;
}

#finals{
    max-width: max-content;
   
    margin-right: 20px;
}

#final1, #final2{
    font-size: 1.1rem;
    height: 30px;
    width: 300px;
    text-align: left;
    margin: 12px;
    color: black;
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
}


