body {
    margin: 0;
    padding: 0;
    background-image: url("./Images/bac.jpg"); 
    position: relative;
    
    background-size: contain;

    background-color: rgb(252, 252, 255);
    font-family: 'Arial', sans-serif;
}

div {
    max-width: auto;
    height: auto;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display:inline-block;
    color: white;
}

h1 {
    height: 50px;
    color: rgb(1, 10, 255);
    border-radius: 10px;
    max-width: auto;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    background-color: #00ffff;
}

h3{
    text-align: center;
    font-size: 20px;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

h2{
    color: rgb(0, 38, 255);
    text-align: center;
    font-size: 20px;
}

#settings{

   max-width: 100%;
    height: 150px;
    margin: 10px;
    margin-left: 15px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display:flex;
    color: rgb(4, 20, 249);
    
}
button{
    color: black;
    background-color: rgb(0, 34, 255);
    border-radius: 50px;
    height: 40px;
}


#GroupA,#GroupB,
#GroupC,#GroupD{
    margin-left: 2px;
    background-color: rgba(2, 29, 36, 0.53);
    margin: 2px;
}

ul{
    background-color: rgba(0, 21, 255, 0.515);
    font-size: 1.1rem;
    width: 280px; /* Adjust width if needed */
    height: 40px;
    text-align: left;
    line-height: 40px;
    border-radius: 10px;
    padding: 15px;
    display: flex;

  }
  
  li {
    background-color: rgba(0, 85, 255, 0.777);
    font-size: 1.1rem;
    width: 50px; /* Adjust width if needed */
    height: 40px;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0px;
    display: inline-block;
    line-height: 40px;
  
  
   
  }


ul:hover,li:hover{
    background-color: rgba(106, 202, 247, 0.208);
}














#gameAC1,
#gameAC2, 
#gameBD1, 
#gameBD2 {
    font-size: 1.1rem;
    width: 300px;
    height: 30px;
    text-align: left;
    margin: 12px;
    color: rgb(241, 240, 240);
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
}


#gameAC11, 
#gameAC22,
#gameBD11,
#gameBD22 {
    text-align: right;
    font-size: 1.1rem;
    width: 300px;
    height: 30px;
    margin: 12px;
    color: rgb(241, 240, 240);
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
}




#gameAC1:hover,#gameAC11:hover, 
#gameAC2:hover, #gameAC22:hover,
#gameBD1:hover, #gameBD11:hover,
#gameBD2:hover, #gameBD22:hover{
        background-color: rgb(167, 152, 238);   
}








#boxA,#boxB,
#boxC,#boxD{
    max-width: 10000px;
}













#semi1, #semi11,
#semi2, #semi22{
    font-size: 1.1rem;
    width: 300px;
    height: 30px;
    text-align: left;
    margin: 12px;
    color: black;
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
}
#box2,#box3{
    max-width: 900px;
}

#finals{
    max-width: max-content;
   
    margin-right: 20px;
}

#final1, #final2{
    font-size: 1.1rem;
    height: 30px;
    width: 300px;
    text-align: left;
    margin: 12px;
    color: black;
    font-weight: 100;
    background-color: rgba(15, 15, 38, 0.515);
    border-radius: 10px;
}