body {
    margin: 0;
    padding: 0;
    position: relative;
    
    background-size: contain;

    background-color: rgb(252, 252, 255);
    font-family: 'Arial', sans-serif;
}

#groupStageContainer{
    display: flex;
    flex-wrap: wrap;
}

#groupCard{
    background-color:white;
    margin: 10px;
    padding: 1rem;
    border-radius: 10PX;
    border: 1px solid black;
    width: 300px;
    height: auto;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.numberSpan{
    background-color: aquamarine;
    width: 100px;
    margin: 5px;
 
}

.team{
    margin: 10px;
    background-color: lightblue;
    padding: 0.5rem;
}

.pts{
    width: 100px;
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 5px;
}

#tableFunctionDiv{

    margin: 10px;
}

#playBtn{
    line-height: 10px;
    width: 50px;
    height: 30px;
    float: right;
}